<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackslash.messsyadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MesssyAdmin">
        <activity android:name=".Activity.NoticeBoxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MessFragmentContainer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.ContactUs" />
        <activity
            android:name=".Activity.AdminFragmentContainer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".Activity.AdminComplaintActivity" />
        <activity android:name=".Activity.AdminConversationActivity" />
        <activity android:name=".Activity.AdminNoticeActivity" />
        <activity android:name=".Activity.AdminStudentTrackActivity" />
        <activity android:name=".Activity.AdminAbsenteesActivity" />
        <activity android:name=".Activity.MessReportIssueActivity" />
        <activity android:name=".Activity.AdminRegisterActivity" />
        <activity android:name=".Activity.MessRegisterActivity" />
        <activity android:name=".Activity.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.MessMenuActivity" />
        <activity android:name=".Activity.MessConversationActivity" />
        <activity android:name=".Activity.MessNoticeActivity" />
        <activity android:name=".Activity.NavigationDrawerContactUsActivity" />
        <activity android:name=".Activity.NavigationDrawerAppUpdateActivity" />
        <activity android:name=".Activity.NavigationDrawerReportIssueActivity" />
        <activity android:name=".Activity.NavigationDrawerNotificationActivity" />
        <activity android:name=".Activity.NavigationDrawerEditProfileActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>